<%- include('partials/header',{title}); %>

<h1 class="text-4xl dark:text-white py-8">
  <%= title %>
</h1>

<p class="text-xl dark:text-white pt-8">
  You can use this URL to search for cities that are located within 5000 km of the specific point on the earth's surface defined by the coordinates (-74,40) longitude and latitude.
</p>

<p class="text-xl dark:text-white pt-8">
  Try different coordinates and distances by adjusting the values in the URL, for example: /around/2/50/3000 to search for cities within 3000 km of the coordinates (2,50).
</p>

<ul class="text-xl dark:text-white pt-8">
  <% data.forEach((city) => { %>
  <li>
    <%= city[0] %>
    <%= parseInt(city[1]) %> km
  </li>
  <% }); %>
</ul>




<%- include('partials/footer'); %>